<app-canvas></app-canvas>
<div class='container'>
  <h2>login</h2>
  <p id='error'>{{error}}</p>
  <form (submit)='registrate()' [formGroup]='regForm'>
    <input type='text' formControlName='email' placeholder='email'><br>
    <p *ngIf='!isMailFree'>This mail is already used</p>
    <p *ngIf='isControlInvalid("email")'>Invalid email</p>
    <p *ngIf='isControlInvalid("password")'>Invalid password</p>
    <input type='password' formControlName='password' placeholder='password'>
    <input type='text' formControlName='login' placeholder='login'><br>
    <input type='text' formControlName='firstName' placeholder='First name'><br>
    <input type='text' formControlName='lastName' placeholder='Last name'><br>
    <input type='text' formControlName='bio' placeholder='Add info about yourself'><br>
    <input type='text' formControlName='location' placeholder='Location'><br>
    <input type='text' formControlName='photo' placeholder='photo'><br>
    <input type='submit' value='submit'>
    <input type='button' value='go back' routerLink='/login'>
  </form>
</div>
