button {
    width: 48%;
    border: none;
    outline: none;
    height: 50px;
    margin-right: 2%;
    border-radius: 10px;
    font-size: 18px;
}
div :nth-child(1) {
    background-color: #F19D94;
    color: #282E33;
}

div :nth-child(2) {
    background-color: #282E33;
    color: #ffffff;
}