<app-canvas></app-canvas>
<div class='container'>
  <h2>login</h2>
  <form (submit)='logIn()' [formGroup]='logInForm'>
    <input type='text' formControlName='email' placeholder='email'><br>
    <p *ngIf='!isLoginExist'>Incorrect email or password</p>
    <p *ngIf='isControlInvalid("email")'>Invalid email</p>
    <p *ngIf='isControlInvalid("password")'>Invalid password</p>
    <input type='password' formControlName='password' placeholder='password' autocomplete>
    <input type='submit' value='log in'>
    <input type='button' value='sign up' routerLink='/registration'>
  </form>
</div>
