.card {
    max-width: 45%;
    min-width: 400px;
    margin: 0.5% 2%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    margin-left: 23%;
    position: relative;
}

app-photo-card {
    width: 50%
}

.comment-holder {
    overflow: auto;
    position: absolute;
    top: 58px;
    bottom: 115px;
    width: 49%;
}

.actions {
    display: inline-block;
    margin-top: 8px;
}

.comments {
    width: 49%;
    margin-left: 1%;
    margin-top: 5%;
}

.add-comment {
    position: absolute;
    bottom: 73px;
    width: 47%;
}

.commentItem {
    width: 100%;
    position: relative;
}

.date, .actions {
    float: right;
}

input {
    width: 100%;
}

input[type='button'] {
    width: 15px;
    height: 15px;
    background-size: cover;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2px;
}

.editBtn {
    background-image: url('../../assets/pencil.svg');
}

.deleteBtn {
    background-image: url('../../assets/rubbish.svg');
}

#goBack {
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    text-decoration: none;
    vertical-align: top;
    font-size: 10px;
    font-family: GothamProBlack, sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #00000000;
    margin: 1%;
    cursor: pointer;
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.text {
    position: relative;
    width: 80%;
    display: inline-block;
}

textarea {
    z-index: 2;
    position: absolute;
    bottom: -4px;
    left: 0px;
    height: 105%;
    width: 124%;
    padding: 0px;
    overflow: hidden;
    outline: none;
    resize: none;
}

p {
    margin: 5px 0px;
}

#error {
    color: #ff0000;
    margin-left: 25%;
}